.Contact {
  margin: 0;
  padding: 0;
}
.SubImage {
  height: 70vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-attachment: fixed;
}
.SubImage::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #5c4b51;
  opacity: 0.6;
}
.SubImage > div {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  text-align: center;
  opacity: 1;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}
.SubImage > div > strong,
.SubImage > div > span {
  text-transform: uppercase;
  display: block;
  font-style: normal;
  opacity: 0.6;
  font-family: "Alex Brush", Tahoma, Geneva, sans-serif;
  font-size: 125px;
  font-weight: normal;
  color: #fff;
  text-transform: capitalize;
}
.SubImage > div > span {
  font-size: 24px;
  margin-bottom: -75px;
}
.InfoBack {
  width: 100%;
  height: 13vh;
  background-color: #5c4b51;
}
.InfoBack > div:first-child {
  max-width: 1040px;
  height: 100%;
  margin: 0 auto;
}
.InfoBack > div > .InfoBox {
  width: 33.33%;
  height: 100%;
  display: inline-block;
  position: relative;
}
.InfoBack > div > .InfoBox > span {
  display: block;
  color: #fff;
  text-align: left;
  padding-left: 30%;
  position: absolute;
  top: 25%;
  font-size: 12px;
  text-transform: uppercase;
  font-family: "Bitter", serif;
  line-height: 20px;
  font-weight: normal;
}
.InfoBack > div > .InfoBox > span + span {
  top: 60%;
}
.Map {
  border-bottom: 2px solid gray;
  width: 70%;
  margin: 0 auto;
}

.Map > div {
  border: 1px solid lime;
  display: flex;
  justify-content: space-around;
}
.Map > div::after {
  content: "";
  display: block;
  clear: both;
}

.Map > div > .left {
  float: left;
  width: 100px;
  border: 1px solid blue;
  font-size: 20px;
  text-align: left;
}
.Map > div > .left > p {
  font-size: 15px;
  text-align: left;
}
.Map > div > .left > span {
  display: block;
}
.Map > div > .right {
  float: right;
  width: 100px;
  border: 1px solid blue;
  font-size: 20px;
  text-align: left;
}
.Map > div > .left > span {
  display: block;
}
.Map > div > .right > p {
  font-size: 15px;
  text-align: left;
}
.Chat {
  margin-top: 50px;
}
.Chat > form {
  margin-top: 30px;
  width: 90%;
  border: 1px solid red;
  margin: 0 auto;
}
.Chat > form > textarea {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 530px;
  height: 150px;
  margin-bottom: 30px;
}
.Chat > form > input {
  width: 260px;
  height: 30px;
}
.Chat > form > input + input {
  margin-left: 10px;
}
.Chat > form > button {
  display: block;
  width: 100%;
  max-width: 530px;
  height: 50px;
  margin: 30px auto;
  color: white;
  background-color: #f06060;
  outline: none;
  border: none;
  border-radius: 3px;
  font-size: 17px;
}
