.wrap {
  overflow: hidden;
}

.wrap > a > .left:hover {
  background-color: #f06060;
  opacity: 0.7;
  cursor: pointer;
  transform: scale(1);
}

.wrap > a > .right:hover {
  background-color: #f06060;
  opacity: 0.7;
  cursor: pointer;
}
.wrap > a > .left {
  background-image: url("../asset/dada.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  float: left;
  width: 50%;
  height: 80vh;
  position: relative;
  padding-top: 50px;
}
.wrap > a > .left > h3 {
  font-family: "Raleway", Tahoma, Geneva, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 32px;
}
.wrap > a > .left > h4 {
  margin: 0;
  line-height: 1.4;
  font-family: "Bitter", serif;
  font-weight: normal;
  font-size: 26px;
}
.wrap > a > .left > div {
  position: absolute;
  overflow: hidden;
  top: 50%;
  margin: 0 auto;
  margin-top: -65px;

  padding: 45px 30px 0 30px;
  /* display: block; */
  width: 100%;
}
.wrap > a > .left > div::before {
  content: "";
  display: block;
  margin-left: 300px;
  height: 2px;
  background-color: red;
  position: relative;
  top: 47px;
}
.wrap > a > .left > div > span:first-child {
  padding: 0 5px;
  width: 100px;
  height: 100px;
  display: block;
  float: left;
  border-radius: 50%;
  background-color: #f3b562;
  color: white;
  line-height: 100px;
}

.wrap > a > .left > div > span:first-child > strong {
  display: inline-block;
  vertical-align: middle;
  line-height: 18px;

  font-size: 1.3em;
}
.wrap > a > .left > div > span + span {
  margin-top: 23px;
  float: right;
}
.wrap > a > .right {
  float: right;
  width: 50%;
  height: 80vh;
  background-image: url("../asset/raspberries_ed450429-f3d8-4757-9507-f18101c2c057_grande.jpeg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
  padding-top: 50px;
}

.wrap > a > .right > h3 {
  font-family: "Raleway", Tahoma, Geneva, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 32px;
}
.wrap > a > .right > h4 {
  margin: 0;
  line-height: 1.4;
  font-family: "Bitter", serif;
  font-weight: normal;
  font-size: 26px;
}
.wrap > a > .right > div {
  position: absolute;
  overflow: hidden;
  top: 50%;
  margin: 0 auto;
  margin-top: -65px;

  padding: 45px 30px 0 30px;
  /* display: block; */
  width: 100%;
}
.wrap > a > .right > div::before {
  content: "";
  display: block;
  margin-left: 300px;
  height: 2px;
  background-color: red;
  position: relative;
  top: 47px;
}
.wrap > a > .right > div > span:first-child {
  padding: 0 5px;
  width: 100px;
  height: 100px;
  display: block;
  float: left;
  border-radius: 50%;
  background-color: #f3b562;
  color: white;
  line-height: 100px;
}

.wrap > a > .right > div > span:first-child > strong {
  display: inline-block;
  vertical-align: middle;
  line-height: 18px;

  font-size: 1.3em;
}
.wrap > a > .right > div > span + span {
  margin-top: 23px;
  float: right;
}
@media (max-width: 700px) {
  .wrap > a > .left {
    float: none;
    width: 100%;
    height: 50vh;
  }
  .wrap > a > .right {
    float: none;
    width: 100%;
    height: 50vh;
  }
  .wrap > a > .left > h3 {
    font-size: 16px;
  }
  .wrap > a > .left > h4 {
    font-size: 13px;
  }
  .wrap > a > .left > div > span:first-child,
  .wrap > a > .right > div > span:first-child {
    width: 50px;
    height: 50px;
  }
  .wrap > a > .left > div > span:first-child > strong,
  .wrap > a > .right > div > span:first-child > strong {
    font-size: 0.6em;
    position: relative;
    top: -20px;
  }
  .wrap > a > .left > div > span + span > strong,
  .wrap > a > .right > div > span + span > strong {
    font-size: 0.8em;
  }
  .wrap > a > .left > div::before,
  .wrap > a > .right > div::before {
    margin-left: 100px;
  }
  .wrap > a > .right > h3 {
    font-size: 16px;
  }
}
