.Products img {
  background-color: none;
  width: 50%;
  position: absolute;
  top: 25%;
  left: 25%;
}
.Products {
  margin: 50px auto;
}
.Products > h2 {
  font-family: "Bitter", serif;
}
.Products > ul {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 50px;
}
.Products > ul > li > a > div {
  min-width: 257px;
  min-height: 257px;
  position: relative;
  background-color: #f5f4f4;
  margin-right: 3px;
}
.Products > ul > li > a > span {
  display: block;
  height: 50px;
  font-family: "Bitter", serif;
  margin-top: 12px;
  font-size: 18px;
  font-weight: bolder;
}
.Products > ul > li {
  display: inline-block;
}
.imgss {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.Products > ul > li > a > div:hover {
  cursor: pointer;
  opacity: 1;
  background-color: #ea5f61;
  transition: ease-in-out 0.5s;
}
