* {
  list-style: none;
  text-decoration: none;
  color: black;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  /* margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  line-height: 1;
  font-size: 1em;
}
.yoo {
  margin: 0 auto;
  height: 80vh;
  background-color: #e9e8ec;
  line-height: 30vh;
}
.yoo > p {
  font-size: 1rem;
}
/* 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
